%svg.main{ ":width":"length" , ":height":"frame.width",
      ":viewbox":"'0 0 ' + frame.width + ' ' + length" , class:  :index_graph}

  %g.frame{ ":transform": "`translate(${0},0)`"}
    %rect.frame{ ":width": "length" , ":height": "frame.width"}
    %template{ "v-for": "pos in posts_positions"}
      %g{ ":transform": "`translate(${pos},0)`" }
        %rect.post{ ":width": "frame_size" , ":height": "frame_size" }
        %line.fine{ ":x1": "0" ,":y1": "0" ,
                    ":x2": "frame_size" , ":y2": "frame_size" }
        %line.fine{ ":x1": "0" ,":y1": "frame_size" ,
                    ":x2": "frame_size" , ":y2": "0" }
        %g{":transform": "`translate(0,${frame.width - frame_size})`"}
          %rect.post{ ":width": "frame_size" , ":height": "frame_size"}
          %line.fine{ ":x1": "0" ,":y1": "0" ,
                      ":x2": "frame_size" , ":y2": "frame_size" }
          %line.fine{ ":x1": "0" ,":y1": "frame_size" ,
                      ":x2": "frame_size" , ":y2": "0" }
