.graph_app
  .graph-header.left-7
    %h1 Timberframe-rungon suunnittelutyökalu
  .graph-header.left-2
    .post-info.tooltip
      Mikä tämä on?
      %span.kysymys
        =image_tag "img/kysymys.png"
      %span.tooltiptext
        %b
          Tämän sivun työkalulla voit itse suunnitella Timberframe -runkoa.
        Liukusäätimillä muutat rungon ominaisuuksia.
        %br
        Viemällä kursorin mallikuvan päälle voit zoomata sisään ja ulos. Tartu hiirellä niin voit kääntää taloa ja horisonttia.
        %br
        %br
        %b Kattokulma
        Muuta katon kaltevuutta, muuttaa myös katon korkeutta
        %br
        %b Pylvään korkeus
        Muuttaa seinän korkeutta
        %br
        %b Leveys, pituus ja pylväiden määrä
        Nämä määrittävät rungon mittasuhteet ja pylväiden välit
        %br
        %b Palkin koko
        Miten isosta tavarasta runko tehdään
        %br
        %b Mittakaava
        Muuta näkymää isommaksi tai pienemmäksi
        %br
        %b Rakenteen tyyppi
        Kokeile eri tyyppisiä kattapalkkien rakenteita
        %br
        %br
        %b
          %i Kannattaa kokeilla!


  .post_control.right-3
    %range-slider{"v-model":"frame.angle" , ":min":"5", ":max":"46" }
      %b Kattokulma {{frame.angle}}&deg;
      %br
      (Korkeus: {{Math.floor(truss_height)}}cm)
    %range-slider{"v-model":"frame.height" , ":min":"50", ":max":"180" }
      %b Pylvään korkeus {{frame.height*2}}
    %range-slider{"v-model":"frame.width" ,":min":"50", ":max":"330"}
      %b Leveys {{frame.width*2}}
    %range-slider{"v-model":"frame.spacing" , ":min":"50", ":max":"330"}
      %b Pituus {{length*2}}
      %br
      (Pylväiden väli: {{frame.spacing*2}})
    %range-slider{"v-bind:value":"posts" , "v-on:input":"set_posts($event)",
                  ":min":"2", ":max":"11"}
      %b Pylväitä {{posts}}
    %range-slider{"v-model":"frame.size" ,":min":"5", ":max":"12.5" , ":step":"1.25"}
      %b Palkin koko {{frame.size*2}}cm ({{(frame.size*2/2.5).toFixed(0)}}in)
    %range-slider{"v-bind:value":"scale", "v-on:input":"set_scale($event)",":min":30, ":max":150}
      %span
        %b Mittakaava
        %b {{scale}}
    .rangeslider
      %b Rakenteen tyyppi
      %input{type:"checkbox", "v-model":"frame.braced"}
      %br
    .rangeslider
      %select{"v-model":"truss"}
        %option{ value:"king"} King
        %option{ value:"collar"} Collar
        %option{ value:"hammer"} Hammer
        %option{ value:"stopped"} Stopped
        %option{ value:"pulp"} Pulpetti
        %option{ value:"none"} No Truss
      %br
    .rangeslider
      Liitoksia
      %b {{joins(1)}}
      %br
    .rangeslider
      Kappaleita
      %b {{pieces(1)}}
      %br
    .rangeslider
      Tilavuus
      %b {{cubes(1).toFixed(2)}}
      %br
    %br
    .rangeslider
      Hinta-arvio
      %b {{estimate(1)}}
      %br
  .canvas_wrapper
    %canvas#xeocanvas

= javascript_include_tag 'application'
:javascript
  var eco_frame = new Frame();
