.section.section1
  .text-page-top.img85
    %h1=t("frames.timberframe")
    =image_tag "img/frames/Frame-aloitus.gif"
    %p.t-padding-10
      =t("frames.explanation")
      %br

  .text-border
    &nbsp;
  .text-page
    .left-7.text-left
      %h2
        =t("frames.in_house_head")
      %p
        =t("frames.in_house_1")
        %br
        %br
        =t("frames.in_house_2")
        %br
        %br
        %br
        =image_tag "img/frames/kollaasi-frame-2.jpg"

    .left-5.img85
      =image_tag "img/frames/_MG_1935.jpg"

  .text-page
    .left-4.text-left
      %h2
        =t("frames.joins_head")
      %p
        =t("frames.joins_1")

    .left-8
      =image_tag "img/frames/kollaasi-frame-4.jpg"
  .left-12.t-padding-10.text-center
    %p
      =t("frames.sum_1")



  .text-border
    &nbsp;
  .text-page
    .left-6
      =image_tag "img/frames/kollaasi-frame-3.jpg"

    .right-6.text-left
      %h2
        =t("frames.poss_head")
      %p
        =t("frames.poss_1")
        %br


  .text-border
    &nbsp;

  .text-page
    .left-8.text-left
      %h2
        =t("frames.design_head")
      %p
        =t("frames.design_1")
        %br
    .right-4
      =image_tag "img/frames/handshake.jpg"


  .text-border
    &nbsp;

  .text-page
    .left-6.text-left
      %h2
        =t("frames.tool_head")
      %p
        =t("frames.tool_1")
        %br
        =t("frames.tool_2")
        %br
        %br
        =link_to t("frames.test") , "/frame" , class: "button"
    .right-6
      %a{:href => "/frame"}
        =image_tag "img/frames/frame-animation.gif"
