.topic
  .head
    %h1=t("frames.timberframe")
    %br
  .body
    =image_tag "img/frames/Frame-aloitus.gif"
    %p
      =t("frames.explanation")

.topic
  .left-up.text-left
    %h2
      =t("frames.in_house_head")
    %p
      =t("frames.in_house_1")
      %br
      %br
      =t("frames.in_house_2")
      %br
      %br
      %br
      =image_tag "img/frames/kollaasi-frame-2.jpg"

  .right-down.img85.invisible-phone
    =image_tag "img/frames/many_joins.jpg"

.topic
  .right-up-wide
    =image_tag "img/frames/kollaasi-frame-4.jpg"
  .left-down-narrow.text-left
    %h2
      =t("frames.joins_head")
    %p
      =t("frames.joins_1")

  .all.text-left
    %p
      =t("frames.sum_1")

.topic
  .right-up
    =image_tag "img/frames/kollaasi-frame-3.jpg"

  .left-down.text-left
    %h2
      =t("frames.poss_head")
    %p
      =t("frames.poss_1")
      %br

.topic
  .left-up.text-left
    %h2
      =t("frames.design_head")
    %p
      =t("frames.design_1")
      %br
  .right-down
    =image_tag "img/frames/handshake.jpg"


.topic
  .right-up
    = link_to page_path(:frame) do
      =image_tag "img/frames/frame-animation.gif"
  .left-down.text-left
    %h2
      =t("frames.tool_head")
    %p
      =t("frames.tool_1")
      %br
      =t("frames.tool_2")
      %br
      %br
      = link_to t("frames.test") , page_path("frame") , class: "button"
