.title.header
  .left-7.header-logo
    %a{:href => "/index", :style => "text-decoration: none;"}
      =image_tag "logo-valk-100.png"
      %h1 Eco Frame House
  .left-4
    %h3{:style => "margin-top: 43px;"}
      Beautifully crafted homes

  .left-1
    .dropdown
      %button.dropbtn
        \ 
      .dropdown-content
        %a{:href => "../"} Etusivu
        %a{:href => "/homes"} Kodit
        %a{:href => "/frames"} Timberframe
        %a{:href => "/wood"} Käsityö
        %a{:href => "/house"} Suunnittelu


.section.section1
  .text-page-top.img85
    %h1 TIMBERFRAME
    =image_tag "img/frames/Frame-aloitus.gif"
    %p.t-padding-10
      Timberframe (joskus suomeksi pilari-palkkirakenne) on vanha rakennustapa, jossa talojen runko kootaan massiivipuisista pilareista ja palkeista puusepän liitoksin. Tällainen rakennustapa on ollut yleinen Keski-Euroopassa, Pohjois-Amerikassa ja myös Japanissa, jossa on ollut paljon korkeatasoista puurakentamista.
      %br

  .text-border
    &nbsp;
  .text-page
    .left-7.text-left
      %h2
        Timberframe talonrakennuksessa
      %p
        Timberframe-runko rakennetaan kokopuisista, huolellisesti mittaan katkaistuista palkeista, jotka liitetään toisiinsa loviliitoksin.
        %br
        %br
        Työ on lähes täysin käsityötä. Mittauksen on oltava tarkkaa ja kaikki osat sovitetaan toisiinsa verstaalla valmistuksen jälkeen.
        %br
        %br
        %br
        =image_tag "img/frames/kollaasi-frame-2.jpg"

    .left-5.img85
      =image_tag "img/frames/_MG_1935.jpg"

  .text-page
    .left-4.text-left
      %h2
        Tarkkaan sovitetut liitokset
      %p
        Liitoksissa ei käytetä nauloja tai ruuveja. Liitokset tehdään koloamalla palkkeihin, ja varmistetaan puutapein.

    .left-8
      =image_tag "img/frames/kollaasi-frame-4.jpg"
  .left-12.t-padding-10.text-center
    %p
      Tällä tavoin valmistettu runko on kaunis, tukeva ja kestävä, sekä ekologinen.



  .text-border
    &nbsp;
  .text-page
    .left-6
      =image_tag "img/frames/kollaasi-frame-3.jpg"

    .right-6.text-left
      %h2
        Monenlaiset rakenteet mahdollisia
      %p
        Timberframe soveltuu moneen muuhunkin kuin talonrakennukseen. Parveke, kuisti, ulkovaja ja -huone, kasvihuone, pergola... ja monet muut rakenteet ovat mahdollisia tällä monipuolisella, ekologisella ja kustannustehokkaalla tekniikalla.
        %br


  .text-border
    &nbsp;

  .text-page
    .left-8.text-left
      %h2
        Suunnittelusta toteutukseen
      %p
        Tarvittaessa saat EcoFramehouselta koko paketin suunnittelusta toteutukseen. Yhteistyökumppaneistamme löytyy arkkitehteja ja rakennesuunnittelijoita. Meillä on myös ammattitaitoiset ja luotettavat tekijät lähipiirissämme kaikkiin talonrakennuksen tehtäviin.
        %br
    .right-4
      =image_tag "img/frames/handshake.jpg"


  .text-border
    &nbsp;

  .text-page
    .left-6.text-left
      %h2
        Testaa suunnittelua
      %p
        Alla olevan linkin kautta voit kokeilla erilaisten hirsirunkojen suunnittelua. Työkalulla voi muuttaa mallin palkkien määrää, pituutta ja leveyttä, sekä kokeilla eri tyyppisiä kattorakenteita. Malli kertoo myös paljonko puuta rakenteeseen tarvitaan, ja antaa alustavan hinta-arvion sille.
        %br
        Käy kokeilemassa!
        %br
        %br
        =link_to "testaa mallia" , "/frame" , class: "button"
    .right-6
      %a{:href => "/frame"}
        =image_tag "img/frames/frame-animation.gif"
