.title.header
  .left-7.header-logo
    =image_tag "logo-valk-100.png"
    %h1 Eco Frame House
  .left-4
    %h3{:style => "margin-top: 43px;"}
      Beautifully crafted homes

  .left-1
    .dropdown
      %button.dropbtn
        \ 
      .dropdown-content
        %a{:href => "../"} Etusivu
        %a{:href => "/homes"} Kodit
        %a{:href => "/frames"} Timberframe
        %a{:href => "/wood"} Käsityö
        %a{:href => "/house"} Suunnittelu


.section.section1
  .text-page-top.img75
    %h1 UUSI KOTISI
    %p
      %b
        EcoFramehouse rakentaa koteja jotka ovat kauniita, ekologisia ja pitkäikäisiä.
        %br
        Kuvassa näkyvät rakenteet on tehty Timberframe -tekniikalla, jossa
        %br
        kantavat palkit liitetään toisiinsa loviliitoksin, ilman ruuveja tai nauloja.
    =image_tag "img/sisa.jpg"
    %p
      %b
        Näin valmistettu rakenne on kestävä, kaunis ja ympäristöä kunnioittava.

  .text-border
    \ 
  .text-page
    .right-6
      =image_tag "img/talo-malli.jpg"
    .left-6.text-left
      %h2 Ekologinen talo
      %p
        Ecoframe -talo on lämmin mutta hengittävä. Se on rakennettu luonnollisesti, aidoista materiaaleista - runko on massiivipuuta ja eristeet ekologisia. Näin rakennetussa talossa on hyvä asua ja elää.
        %br
        %br
        Olemme vuosien työn tuloksena kehittäneet rakenteen, jossa talon vankka ja kaunis Timberframe -runko jää talon sisäpuolelle näkyviin. Se antaa talon sisätiloille upean ja elävän ilmeen. Ulkovaippa eristetään tukevasti, ja muodostaa rungon ympärille lämpöisen, saumattoman kuoren.
        %br
        %br

  .text-border
    \ 
  .text-page
    .left-7
      =image_tag "img/frame.jpg"

    .right-5.text-left
      %h2 Timberframe-hirsirunko
      %p
        Rakennamme perinteisiä keskieurooppalaisia timberframe -rakenteita. Niissä talon kantava rakenne tehdään massiivipuusta, puupalkeista jotka liitetään toisiinsa loviliitoksin. Rakenne tehdään täysin ilman ruuveja ja nauloja, se perustuu tarkkoihin liitoksiin jotka lukittuvat toisiinsa ja varmistetaan puisin tapein.
        %br
        Näin valmistettu rakenne on kestävä, kaunis ja ympäristöä kunnioittava.
        %br
        %br
        =link_to "lue lisää" , "/frames" , class: "button"
        %br
        =image_tag "img/frame2.jpg" , width: 340

  .text-border
    &nbsp;
  .text-page
    .left-6.text-left
      %h2
        Lämpimät seinät
      %p
        Kun timberframe- eli pilari-palkkitekniikalla rakennetaan asuintaloja, on runkopalkkien välit ulkoseinissä perinteisesti täytetty esim. savi-olkipaalirakenteella. Näin saadaan hengittävä, kevyt ja kuitenkin lämmin ja kestävä seinä. Myös kalkin ja olkien sekoitusta on käytetty.
        %br
        %br
        Kehittämässämme rakenteessa ulkoseinät tehdään pilari-palkkirakenteen ulkopuolelle, jolloin kaunis runko jää sisälle näkyviin. Ulkoverhous voidaan tehdä laudalla, sisäpintaan tulee esimerkiksi vaneri tms puulevy. Myös kipsilevyn käyttö on mahdollista.
        %br
        Käyttämämme eristeet ovat puukuitua tai selluvillaa, höyrynsulkuna toimii paperi eikä muovi.
        %br
        Käyttämämme puu on peräisin kestävästi hoidetuista metsistä.  Näin rakennettu talo on ekologinen, lämmin, ja erittäin energiataloudellinen.

    .left-6
      =image_tag "img/frames/kollaasi-frame.jpg"




  .text-border
    \ 
  .text-page
    .left-6
      =image_tag "img/huone-800.jpg"
    .right-6.text-left
      %h2 Koti
      %p
        Lopputuloksena on talo, joka on kaunis, moderni ja ekologinen. Ecoframe -talossa vahva ja kestävä rakenne, ja se antaa sisätiloille ainutlaatuisen ilmeen.

  .text-border
    \ 
  .text-page.text-right
    .right-6
      =image_tag "header_design.jpg"
    .left-6
      %h2 Suunnittelu ja toteutus
      %p
        Meiltä saat sekä suunnittelun että toteutuksen. Jos sinulla on idea rakennuksesta, pergolasta, parvekkeesta tms, me autamme suunnittelemaan rakenteen ja toteutamme sen. Kysy lisää!
