.title.header
  .left-3
    \ 
  .left-6
    %h1 Eco Frame House
    %h2
      Beautifully crafted homes
  .right-3
    =image_tag "logo-valk-300.png"
.section.section1
  .text-page
    %h1 COMPLETE HOMES
    %p
      The process of building a home is long and complex.
      %br
      We provide you with the expertise of designing and building your dream home.
      %br
      The use of massive wood has long traditions
      %br
      in finnish building culture and is as relevant today as ever.
      %br
      %br
      Building healthy structures and respecting the environment
      %br
      in the process is the north star that guide us.
      %br

    =image_tag "img/sisa.jpg"

  .text-border
    \ 
  .text-page{:style => "height: 450px;"}
    .left-6
      =image_tag "img/model.jpg"
    .right-6
      %h2 DESIGNING YOUR FRAME
      %p
        We design each frame separately according to the purpose of the building. Timberframing enables creative structures where the sense of precise crafting and feeling of strenght is translated in to the finished building.

  .text-page{:style => "height: 1450px;"}




.section.section2
  .text
    %p Craft beer gentrify kale chips asymmetrical. Skateboard Carles cardigan wolf, paleo American Apparel sartorial sriracha beard chia leggings mixtape. Cronut locavore gentrify retro. Austin listicle pickled, direct trade chia blog cray food truck banjo skateboard. Post-ironic master cleanse swag flannel pop-up, aesthetic viral deep v mixtape sartorial gentrify Pitchfork. IPhone brunch polaroid swag, seitan messenger bag 8-bit sriracha you probably haven't heard of them meggings salvia wolf. Wolf tattooed aesthetic, quinoa Marfa Shoreditch banjo chia.
.section.section3
  .text
    %p Sustainable selfies meh skateboard hashtag. YOLO polaroid art party, you probably haven't heard of them fap beard kogi yr. Lumbersexual food truck banh mi, bespoke gastropub Intelligentsia butcher normcore chia retro pug. McSweeney's 90's gluten-free YOLO trust fund banjo. Bitters yr pug listicle, banh mi Pitchfork actually keytar taxidermy tousled. Fingerstache keffiyeh Truffaut, 90's mlkshk listicle selvage seitan. Cred meggings High Life keffiyeh Thundercats, cornhole next level PBR&B scenester.
