.topic
  .head
    %h1=t("homes.new_home_head")
  .body
    %p
      %b
        =t("homes.new_home_1")
        %br
        =t("homes.new_home_2")
        %br
        =t("homes.new_home_3")
    =image_tag "img/sisa.jpg"

.topic
  .right-up
    =image_tag "img/talo-malli.jpg"
  .left-down.text-left
    %h2=t("homes.eco_head")
    %p
      =t("homes.eco_1")
      %br
      %br
      =t("homes.eco_2")
      %br
      %br

.topic
  .left-up
    =image_tag "img/frame.jpg"
  .right-down.text-left
    %h2=t("homes.tf_head")
    %p
      =t("homes.tf_1")
      %br
      =t("homes.tf_2")
      %br
      %br
      =link_to t("read_more") , "/frames" , class: "button"
      .invisible-phone
        %br
        =image_tag "img/frame2.jpg"

.topic
  .right-up
    =image_tag "img/frames/kollaasi-frame.jpg"
  .left-down.text-left
    %h2=t("homes.walls_head")
    %p
      =t("homes.walls_1")
      %br
      %br
      =t("homes.walls_2")
      %br
      =t("homes.walls_3")
      %br
      =t("homes.walls_4")

.topic

  .left-up
    =image_tag "img/huone-800.jpg"
  .right-down
    %h2=t("homes.home_head")
    %p.text-left
      =t("homes.home_1")

.topic
  .left-up
    =image_tag "header_design.jpg"
  .right-down
    %h2=t("homes.design_head")
    %p=t("homes.design_1")
