.graph_app
  .post_control
    %range-slider{"v-model":"frame.angle" , ":min":"5", ":max":"46" }
      %b Truss Angle {{frame.angle}}&deg;
      %br
      (Height: {{Math.floor(truss_height)}}cm)
    %range-slider{"v-model":"frame.height" , ":min":"50", ":max":"180" }
      %b Post Height {{frame.height*2}}
    %range-slider{"v-model":"frame.width" ,":min":"200", ":max":"800"}
      %b Width {{frame.width*2}}
    %range-slider{"v-model":"frame.spacing" , ":min":"50", ":max":"330"}
      %b Length {{length*2}}
      %br
      (Spacing: {{frame.spacing*2}})
    %range-slider{"v-bind:value":"posts" , "v-on:input":"set_posts($event)",
                  ":min":"2", ":max":"11"}
      %b Posts {{posts}}
    %range-slider{"v-bind:value":"scale", "v-on:input":"set_scale($event)",":min":30, ":max":150}
      %span
        Scale
        %b {{scale}}
    %range-slider{"v-bind:value":"animated" , "v-on:input":"set_anim($event)", ":min":"0", ":max":"10" , ":step":"1"}
      %b Animate {{anim_level}}
    %range-slider{"v-bind:value":"level" , "v-on:input":"set_level($event)",
                  ":min":"0", ":max":"32"}
      %b Level {{get_level(1)}}
    .rangeslider
      Cubic meters
      %b {{cubes}}
      %br
    %br
    .rangeslider
      Price Estimate
      %b {{estimate}}
      %br
    %range-slider{"v-bind:value":"value" , "v-on:input":"set_value($event)", ":min":"0", ":max":"100" , ":step":"1"}
      %b val {{value}}

  .canvas_wrapper
    %canvas#xeocanvas

= javascript_include_tag 'application'
:javascript
  VueController._data.posts = 5;
  VueController._data.frame.size = 10;
  VueController._data.frame.width = 370;
  xeogl.scene.camera.look =  [131, -158, -158]
  xeogl.scene.camera.eye = [-797, 39, -1061]
  var eco_frame = new House();
