.title.header
  .left-7.header-logo
    =image_tag "logo-valk-100.png"
    %h1 Eco Frame House
  .left-4
    %h3{:style => "margin-top: 43px;"}
      Beautifully crafted homes

  .left-1
    .dropdown
      %button.dropbtn
        \ 
      .dropdown-content
        %a{:href => "../"} Front page
        %a{:href => "/homes"} Homes
        %a{:href => "/house"} Design


.graph_app
  .post_control
    .post-info.tooltip
      Mikä tämä on?
      %span.kysymys
        =image_tag "img/kysymys.png"
      %span.tooltiptext
        %b
          Tämän sivun työkalulla voit itse suunnitella Timberframe -runkoa.
        %br
        Liukusäätimillä muutat rungon mittoja, kattotuolien määrää, katon kaltevuutta ja muita ominaisuuksia.
        %br
        Viemällä kursorin mallikuvan päälle voit zoomata sisään ja ulos. Tartu hiirellä niin voit kääntää taloa ja horisonttia.
        %br
        %b
          %i Kannattaa kokeilla!






    %range-slider{"v-model":"frame.angle" , ":min":"5", ":max":"46" }
      %b Truss Angle {{frame.angle}}&deg;
      %br
      (Height: {{Math.floor(truss_height)}}cm)
    %range-slider{"v-model":"frame.height" , ":min":"50", ":max":"180" }
      %b Post Height {{frame.height*2}}
    %range-slider{"v-model":"frame.width" ,":min":"200", ":max":"800"}
      %b Width {{frame.width*2}}
    %range-slider{"v-model":"frame.spacing" , ":min":"50", ":max":"330"}
      %b Length {{length*2}}
      %br
      (Spacing: {{frame.spacing*2}})
    %range-slider{"v-bind:value":"posts" , "v-on:input":"set_posts($event)",
                  ":min":"2", ":max":"11"}
      %b Posts {{posts}}
    %range-slider{"v-bind:value":"scale", "v-on:input":"set_scale($event)",":min":30, ":max":150}
      %span
        Scale
        %b {{scale}}
    %range-slider{"v-bind:value":"animated" , "v-on:input":"set_anim($event)", ":min":"0", ":max":"10" , ":step":"1"}
      %b Animate {{anim_level}}
    %range-slider{"v-bind:value":"level" , "v-on:input":"set_level($event)",
                  ":min":"0", ":max":"32"}
      %b Level {{get_level(1)}}
    %range-slider{"v-bind:value":"value" , "v-on:input":"set_value($event)", ":min":"0", ":max":"100" , ":step":"1"}
      %b val {{value}}

  .canvas_wrapper
    %canvas#xeocanvas

= javascript_include_tag 'application'
:javascript
  VueController._data.posts = 5;
  VueController._data.frame.size = 10;
  VueController._data.frame.width = 370;
  xeogl.scene.camera.look =  [131, -158, -158]
  xeogl.scene.camera.eye = [-797, 39, -1061]
  var eco_frame = new House();
