%section.intro
  .parallax
  .logo
    %h3 ECOFRAMEHOUSE
  .slogan
    %h3 HANDCRAFTED TIMBERFRAME HOMES
    %p
      We offer unique, long lasting and affordable timberframed living spaces.
      %br
      Our work ranges from massive garden furniture to complete homes.
%section.homes
%section.garden
%section.wood
