.title.section.header
  .left-11.menu
    \ 
  .right-1.menu
    .dropdown
      %button.dropbtn
        \ 
      .dropdown-content
        %a{:href => "../"} Etusivu
        %a{:href => "/homes"} Kodit
        %a{:href => "/frames"} Timberframe
        %a{:href => "/wood"} Käsityö

  .left-12

    %h1 Eco FrameHouse
    %h2
      Uniikkeja ekologisia koteja
    =image_tag "logo-valk-300.png" , width: 280
    %h4
      Valmistamme kauniita, kestäviä ja kohtuuhintaisia tiloja.
      %br
      Rakennamme sinulle ekologisen haaveittesi kodin tai ulkokeittiön -
      %br
      luonto ja korkea laatu inspiraationa.


.left-12
  .section1.section
    .text
      %h1 VALMIIT KODIT
      %p
        Rakennamme upeita, ekologisia tiloja joissa on hyvä elää.
        Kodin rakentaminen on monivaiheinen tie. Meiltä saat ammattitaitoisen suunnittelun sekä toteutuksen unelmiesi kodille.
        %br
        %br
        Puinen rakenne on Suomessa luonnollinen ja ekologinen valinta.
        Timberframe-tekniikka sopii täydellisesti suomalaiseen luontoon ja maisemaan.
        Käsin tehdyt puuliitokset tuovat kodillesi tyylikkään ja uniikin ilmeen.
        Sopii sekä moderniin että perinteiseen arkkitehtuuriin.
      .text-center
        =link_to "Lue lisää" , "/homes" , class: "button"
  %br/
  .section2.section
    .text
      %h1 TIMBERFRAME
      %p
        Käsintehty Timberframe-rakenne on kaunis, kustannustehokas ja ekologinen tapa rakentaa.
        Sillä voi luoda upeaa ilmettä monella lailla: tyylikäs talon kantava rakenne, terassi, kuisti, kasvihuone, parveke, portaikko... Käsintyöstetty puu on aina kauniin näköistä.
        %br
        %br
        Meidän käsityötaidoillamme ja sinun ideoillasi valmistamme sinulle ainutlaatuisen, hengittävän ja ekologisen kodin tai muun puurakenteen.
      .text-center
        =link_to "Lue lisää" , "/frames" , class: "button"

  .section3.section
    .text
      %h1 KÄSITYÖTÄ
      %p
        Verstaallamme valmistamme käsityönä monipuolisesti puusepäntöitä kokopuusta:
        %br
        ovia, kaapistoja, portaita, ulkopöytiä ja -penkkejä.
      .text-center
        =link_to "Lue lisää" , "/wood" , class: "button"
