.title.section.header
  %h1 Eco Frame House
  %span
    Beautifully crafted homes
  %br
  %br
  =image_tag "logopohja.jpg"
.section1.section
  .text
    %p PBR&B pour-over VHS, listicle swag butcher pickled bespoke. Tattooed Williamsburg banjo, street art put a bird on it fixie synth Pinterest. Viral tote bag Austin PBR seitan flexitarian. Fixie Intelligentsia quinoa pork belly, gentrify chia letterpress. Cornhole wolf selfies brunch. Cold-pressed keffiyeh fashion axe art party hella Echo Park asymmetrical, butcher seitan lumbersexual swag dreamcatcher PBR actually bitters. Etsy lomo locavore four dollar toast, heirloom before they sold out occupy pork belly sartorial viral banh mi street art health goth meh brunch.
    =link_to "Homes" , "/homes" , class: "btn"
.section2.section
  .text
    %p Craft beer gentrify kale chips asymmetrical. Skateboard Carles cardigan wolf, paleo American Apparel sartorial sriracha beard chia leggings mixtape. Cronut locavore gentrify retro. Austin listicle pickled, direct trade chia blog cray food truck banjo skateboard. Post-ironic master cleanse swag flannel pop-up, aesthetic viral deep v mixtape sartorial gentrify Pitchfork. IPhone brunch polaroid swag, seitan messenger bag 8-bit sriracha you probably haven't heard of them meggings salvia wolf. Wolf tattooed aesthetic, quinoa Marfa Shoreditch banjo chia.

.section3.section
  .text
    %p Sustainable selfies meh skateboard hashtag. YOLO polaroid art party, you probably haven't heard of them fap beard kogi yr. Lumbersexual food truck banh mi, bespoke gastropub Intelligentsia butcher normcore chia retro pug. McSweeney's 90's gluten-free YOLO trust fund banjo. Bitters yr pug listicle, banh mi Pitchfork actually keytar taxidermy tousled. Fingerstache keffiyeh Truffaut, 90's mlkshk listicle selvage seitan. Cred meggings High Life keffiyeh Thundercats, cornhole next level PBR&B scenester.
