.title.section.header
  .main_box
    .left-2
      &nbsp;

    .left-8
      %h1=t("index.main_head")
      %h2
        =t("index.main_h2")

    .right-2.menu.text-right
      .flag
        - I18n.available_locales.each do |lang|
          =link_to "/#{lang}/#{params[:id]}" do
            =image_tag "#{lang.to_s}.gif"

      = render "layouts/dropdown"


    .left-12
      =image_tag "logo-valk-300b.png" , width: 280
      %h4
        =t("index.main_h41")
        %br
        =t("index.main_h42")
        %br
        =t("index.main_h43")



.section1.section
  .section_box
    %h1=t("index.homes_head")
    %p
      =t("index.homes_1")
      %br
      %br
      =t("index.homes_2")
    .text-center
      =link_to t("read_more") , "homes" , class: "button"
%br/
.section2.section
  .section_box
    %h1=t("index.frame_head")
    %p
      =t("index.frame_1")
      %br
      %br
      =t("index.frame_2")
    .text-center
      =link_to t("read_more") , "frames" , class: "button"

.section3.section
  .section_box
    %h1=t("index.work_head")
    %p
      =t("index.work_1")
    .text-center
      =link_to t("read_more") , "wood" , class: "button"
