.title.section.header
  .left-11.menu
    \ 
  .right-1.menu
    .dropdown
      %button.dropbtn
        \ 
      .dropdown-content
        %a{:href => "../"} Etusivu
        %a{:href => "/frames"} Timberframe
        %a{:href => "/homes"} Kodit
        %a{:href => "/wood"} Käsityö
        %a{:href => "/house"} Suunnittelu

  .left-12

    %h1 Eco FrameHouse
    %h2
      Kauniiksi rakennettuja koteja
    =image_tag "logo-valk-300.png" , width: 280
    %h4
      Valmistamme ainutlaatuisia, pitkäikäisiä ja kohtuuhintaisia taloja ja muita rakennuksia.
      %br
      Meiltä saat kokopuusta kestävästi rakennettuja tuotteita,
      %br
      puutarhakalusteista valmiisiin koteihin.

.left-12
  .section1.section
    .text
      %h1 VALMIIT KODIT
      %p
        Rakennamme ekologisia, kauniita tiloja joissa on hyvä olla ja elää.
        Kodin rakentaminen on pitkä ja monivaiheinen tie. Meiltä saat ammattitaitoisen suunnittelun sekä toteutuksen unelmiesi kodille.
        %br
        %br
        Puinen rakenne on Suomessa luonnollinen ja ekologinen valinta, ja osa rakentamisen perinnettämme.
        %br
        Valmistustekniikkamme sopii suomalaiseen kulttuuriin ja luontoon, mutta on kuitenkin omaleimainen ja ainutlaatuinen.
      .text-center
        =link_to "read more" , "/homes" , class: "button"
  %br/
  .section2.section
    .text
      %h1 TIMBERFRAME
      %p
        Timberframe-rakenne on kustannustehokas, kaunis ja ekologinen tapa rakentaa. Se sopii moneen - lopputulos voi olla talon kantava rakenne mutta yhtä lailla terassi, kuisti, kasvihuone, parveke, portaikko...
        %br
        Tämä pilari-palkkirakenne antaa mahdollisuudet lähes mihin vain rakenteisiin.
        %br
        Jos tarvitset rakenteen puusta, me teemme sen.
      .text-center
        =link_to "read more" , "/homes" , class: "button"

  .section3.section
    .text
      %h1 KÄSITYÖTÄ
      %p
        Monipuolisella verstaallamme valmistamme käsityönä puusepäntöitä kokopuusta.
        %br
        Esimerkiksi ovia, kaapistoja, portaita, ulkopöytiä ja -penkkejä.
      .text-center
        =link_to "read more" , "/homes" , class: "button"


  .section4.section
    .text
      %h1 DESIGNS
      %p
        You only need to have an idea, we will help you both with designing and building.
        %br
        Click the link below and you can try out different options for a timberframe.
      .text-center
        =link_to "try it out" , "/house" , class: "button"
