%script{src: asset_path("extra_seen.js")}
.seen_app
  %input{"min":"1", "max":"100", ":step":"1", value: 40, type:"range" ,
        "oninput":"update(value)"}

  %canvas#seen-canvas{width:"300px", height:"300px"}

:javascript
  var context, dragger, height, scene, shape, base, width ,scale;
  width = 300;
  height = 300;
  scale = .4;

  base = seen.Models.default();
  frames = base.append();
  frame1 = frames.append();

  frame1.add( seen.Eco.post(0 , 0 , 200, 15) );
  frame1.add( seen.Eco.post(300,0 , 200, 15) );
  frame1.add( seen.Eco.beam(0,200 , 315, 15) );

  frame1 = frames.append();
  frame1.add( seen.Eco.post(0 , 0 , 200, 15) );
  frame1.add( seen.Eco.post(300,0 , 200, 15) );
  frame1.add( seen.Eco.beam(0,200 , 315, 15) );
  frame1.translate(0,0,200)

  plane = seen.Shapes.rectangle(seen.P(300,200,0) , seen.P(0,0,0))
  plane.cullBackfaces = false
  plane.fill( new seen.Material(seen.C(255,255,255, 55)));
  base.add(plane)
  base.scale( scale );


  // Create sce.append();
  scene = new seen.Scene({
    model: base,
    viewport: seen.Viewports.center(width, height)
  });

  // Create render context from canvas
  context = seen.Context('seen-canvas', scene).render();

  // Enable drag-to-rotate on the canvas
  dragger = new seen.Drag('seen-canvas', {
    inertia: true
  });

  dragger.on('drag.rotate', function(e) {
    var xform;
    xform = seen.Quaternion.xyToTransform(...e.offsetRelative);
    base.transform(xform);
    return context.render();
  });

  function update(num){
    scale = parseInt(num);
    console.log(num );
    frames.reset()
    frames.scale(scale/100);
    //scene.model.children[0] = base;
    context.render();
  }
