.graph_app
  .stats
    Cubic meters: {{cubes}}
    %br
  %svg{ ":width": "total_length" , ":height": "total_width",
        ":viewbox": "'0 0 ' + total_width + ' ' + total_length" , class:  :index_graph}
    %g.frame{ ":transform": "`translate(${padd},0)`"}
      %rect.frame{ ":width": "length" , ":height": "width"}
      %template{ "v-for": "pos in posts_positions"}
        %g{ ":transform": "`translate(${pos},0)`" }
          %rect.post{ ":width": "frame.size" , ":height": "frame.size" }
          %line.fine{ ":x1": "0" ,":y1": "0" ,
                      ":x2": "frame.size" , ":y2": "frame.size" }
          %line.fine{ ":x1": "0" ,":y1": "frame.size" ,
                      ":x2": "frame.size" , ":y2": "0" }
          %g{":transform": "`translate(0,${width - frame.size})`"}
            %rect.post{ ":width": "frame.size" , ":height": "frame.size"}
            %line.fine{ ":x1": "0" ,":y1": "0" ,
                        ":x2": "frame.size" , ":y2": "frame.size" }
            %line.fine{ ":x1": "0" ,":y1": "frame.size" ,
                        ":x2": "frame.size" , ":y2": "0" }

    %g.frame{ ":transform": "`translate(${padd - 10 },${total_width - 10})`"}
      %line.slider{ ":x1": "10" ,":y1": "0" ,
                    ":x2": "total_length / 3" , ":y2": "0" }
      %line.slider{ ":x1": "2*length / 3" ,":y1": "0" ,
                    ":x2": "total_length " , ":y2": "0" }
      %text{":x": "total_length / 3 + padd" , ":y": "0" }
        %tspan Length
        %tspan {{ length_slider.x.toFixed(0) }}
        %tspan cm
      %draggable{ ":model": "length_slider" , constrainy: 1}
        %circle{ "r": 10 }

    %line.slider{ x1: 2 ,y1: 0 , x2: 2 , ":y2": "width/3" ,
                  "stroke": "rgb(0,0,0)" , "stroke-width": 3}
    %line.slider{ x1: 2 ,":y1": "2*width/3" , x2: 2 , ":y2": "width" ,
                  "stroke": "rgb(0,0,0)" , "stroke-width": 3}
    %text{x: 0 , ":y": "(width - padd ) / 2" }
      %tspan Width
      %tspan{x: 0, dy: 15} {{ width_slider.y.toFixed(0) }}
      %tspan{x: 0, dy: 15} cm
    %draggable{ ":model": "width_slider" , constrainx: 1}
      %circle{ "r": 10 }
  .post_control
    %a{ "@click" => "posts += 1"}
      =image_tag "plus.png"
    \&nbsp;
    %span {{posts}}
    \&nbsp;
    %a{ "@click" => "posts -= 1"}
      =image_tag "minus.png"

:ruby2js
  class Graph < Vue
    el ".graph_app"
    def initialize
      @posts = 3
      @padd = 30
      @frame = {trusses: true , size: 15 , height: 250}
      @width_slider = {x: 0 , y: 300}
      @length_slider = {x: 3*300 , y: 0 }
    end
    def width
      return @width_slider.y
    end
    def length
      return @length_slider.x
    end
    def posts_positions
      arr = []
      0.upto(@posts - 1){ |i| arr << Math.floor(i * (self.length - @frame.size)/(@posts - 1))}
      arr << self.length - @frame.size
      arr
    end
    def total_width
      return self.width + @padd
    end
    def total_length
      return self.length + @padd
    end
    def cubes
      sum = post_cubes + truss_cubes + plate_cubes
      return (sum / (100*100*100)).toFixed(2)
    end
    def post_cubes
      return @posts * @frame.size * @frame.size * @frame.height
    end
    def plate_cubes
      meters = 2 * self.length 
      meters += 2 * self.width unless @frame.trusses
      return @frame.size * @frame.size * meters
    end
    def truss_cubes
      return 0 unless @frame.trusses
      return @posts * @frame.size * @frame.size * (self.width * 2) #for now
    end
  end
  gra = Graph
