.graph_app
  .post_control
    .rangeslider.height
      %b Truss Height {{frame.truss.height}}
      %input{min:"50", max:"250", step: "5", type:"range" ,
            "v-bind:value":"frame.truss.height",
            "v-on:input":"frame.truss.height = parseInt($event.target.value)"}
    .rangeslider.height
      %b Post Height {{frame.height}}
      %input{min:"100", max:"350", step: "5", type:"range" ,
            "v-bind:value":"frame.height",
            "v-on:input":"frame.height = parseInt($event.target.value)"}
    .rangeslider.width
      %b Width {{frame.width}}
      %input{min:"100", max:"650", step: "10", type:"range" ,
            "v-bind:value":"frame.width",
            "v-on:input":"frame.width = parseInt($event.target.value)"}
    .rangeslider.spacing
      %b Length {{length}}
      %input{min:"100", max:"650", step: "1", type:"range" ,
          "v-bind:value":"frame.spacing",
          "v-on:input":"frame.spacing = parseInt($event.target.value)"}
    .rangeslider.posts
      %b Posts {{frame.posts}}
      %input{min:"2", max:"10", type:"range" ,
            "v-bind:value":"frame.posts",
            "v-on:input":"set_posts(parseInt($event.target.value))"}
    .rangeslider.size
      %b Size {{frame.size}}cm ({{(frame.size/2.5).toFixed(0)}}in)
      %input{min:"10", max:"25", step:"2.5" , type:"range" ,
            "v-bind:value":"frame.size",
            "v-on:input":"frame.size = parseFloat($event.target.value)"}
    .rangeslider
      %div
        %b Braces
        %input{type:"checkbox", "v-model":"frame.braces"}
      %span
        %b Trusses
        %input{type:"checkbox", "v-model":"frame.truss.on"}
      %div
        %b Length
        {{length}}
      %div
        %b Cubic meters:
        {{cubes}}
    .up
      %b div {{div}}
      %input{min:"0.5", max:"5", step: "0.1", type:"range" ,
            "v-bind:value":"div",
            "v-on:input":"div = parseFloat($event.target.value)"}


  .front{ ":style":"`height: ${frame.height + frame.truss.height}px; margin-left: ${1150 - frame.width}px;`" }
    .child{ "v-for":"i in frame.posts" ,
            ":style":"transform_post(i)"}
      %svg{ ":width":"frame.width + 2" , ":height":"frame_height  ",
              ":mask":"`url(#mask_${frame.truss.on ? 'all':'frame'})`",
            ":viewbox":"'0 0 ' + frame.width + ' ' + frame_height" }
        %defs
          %mask#mask_all
            %polyline{":points":"`${frame.width/2},0 ${frame.width},${frame.truss.height} ${frame.width},${frame.truss.height+frame.height} 0,${frame.truss.height+frame.height}  0,${frame.truss.height}`",
                      ":style":"`fill: rgb(225,225,225);`"}
          %mask#mask_frame
            %polyline{":points":"`${frame.width},0 ${frame.width},${frame.height} 0,${frame.height}  0,0`",
                      ":style":"`fill: rgb(225,225,225);`"}

        %g.frame{ ":transform":"truss_transform"  }
          %rect.frame{ ":width":"frame.width" , ":height":"frame.size" }
          %rect.frame{ ":x":"frame.width - frame.size", ":y":"frame.size" ,
                      ":width":"frame.size" , ":height":"frame.height"}
          %rect.frame{ ":x":"0", ":y":"frame.size" ,
                      ":width":"frame.size" , ":height":"frame.height"}
        %g.trusses{"v-if":"frame.truss.on"}
          %line{  ":x1": 0 , ":y1":"frame.truss.height" ,
                  ":x2":"frame.width / 2" , ":y2": 0  }
          %line{  ":x1":"frame.width / 2" , ":y1": 0 ,
                  ":x2":"frame.width" , ":y2":"frame.truss.height"  }
          %line{  ":x1":"truss_x" , ":y1":"frame.truss.height" ,
                  ":x2":"frame.width / 2" , ":y2":"truss_y"  }
          %line{  ":x1":"frame.width / 2" , ":y1":"truss_y" ,
                  ":x2":"frame.width - truss_x" , ":y2":"frame.truss.height"  }
          %line{  ":x1":"frame.width/2 - frame.size/2" , ":y1":"hit_y" ,
                  ":x2":"frame.width/2 - frame.size/2" , ":y2":"frame.truss.height"  }
          %line{  ":x1":"frame.width/2 + frame.size/2" , ":y1":"hit_y" ,
                  ":x2":"frame.width/2 + frame.size/2" , ":y2":"frame.truss.height"  }

          %g{ ":transform":"truss_transform" }
            %line{  ":x1":"frame.width/ 2 - frame.size/2" ,
                    ":y1":"-frame.size" ,
                    ":x2":"dx" ,
                    ":y2":"-dy"}
            %line{  ":x1":"frame.width/2 + frame.size/2" ,
                    ":y1":"-frame.size" ,
                    ":x2":"frame.width-dx" ,
                    ":y2":"-dy"}
            %line{  ":x1":"frame.width/2 + frame.size/2" ,
                    ":y1":"-frame.size - 0.75*truss_y" ,
                    ":x2":"frame.width - dx - 0.5*truss_x" ,
                    ":y2":"-dy - 0.5*truss_y"}
            %line{  ":x1":"frame.width/2 - frame.size/2" ,
                    ":y1":"-frame.size - 0.75*truss_y" ,
                    ":x2":"dx + 0.5*truss_x" ,
                    ":y2":"-dy - 0.5*truss_y"}
        %g{ ":transform":"truss_transform" ,
            "v-if":"frame.braces"}
          %line{  ":x1":"frame.size" ,
                  ":y1":"brace" ,
                  ":x2":"brace" ,
                  ":y2":"frame.size"}
          %line{  ":x1":"frame.size" ,
                  ":y1":"brace + frame.size*1.414" ,
                  ":x2":"brace + frame.size*1.414" ,
                  ":y2":"frame.size"}

          %line{  ":x1":"frame.width - frame.size" ,
                  ":y1":"brace" ,
                  ":x2":"frame.width - brace" ,
                  ":y2":"frame.size"}
          %line{  ":x1":"frame.width - frame.size" ,
                  ":y1":"brace + frame.size*1.414" ,
                  ":x2":"frame.width - brace - frame.size*1.414" ,
                  ":y2":"frame.size"}

:ruby2js

  class Graph < Vue
    el ".graph_app"
    def initialize
      @div = 5
      @frame = {truss: {height: 120, type: :harja , on: true} , size: 15 , height: 250, spacing: 300,
                width: 300 , posts: 4 , braces: true}
    end
    def truss_transform
      h = @frame.truss.on ? @frame.truss.height : 0
      return "translate(0," + h + ")"
    end
    def transform_post(i)
      posts_max =  500 + self.length * 0.4
      posts_factor = posts_max / @frame.posts
      ret = "transform: translateZ(" +  posts_factor*(i-1)
      ret = ret + "px) rotateY(-25deg);"
      return ret
    end
    def set_posts(num)
      old_length = self.length
      @frame.spacing = Math.floor(old_length / (num - 1))
      @frame.posts = num
    end
    def slide(event)
      puts event.target.value
    end
    def dx
      return 1.1*@frame.width / 4
    end
    def dy
      return (self.dx - self.truss_x) * Math.tan(angle)
    end
    def brace
      return 3* Math.min(@frame.height, @frame.width/2) / 8
    end
    def angle
      return Math.atan(2*@frame.truss.height / @frame.width)
    end
    def truss_x
      return @frame.size / Math.sin( self.angle)
    end
    def truss_y
      return @frame.size / Math.cos( self.angle)
    end
    def hit_y
      return truss_y + @frame.truss.height - (@frame.width - @frame.size)*0.5*Math.tan(angle)
    end
    def length
      return @frame.spacing * (@frame.posts - 1 )
    end
    def frame_height
      return @frame.height + @frame.size + (@frame.truss.on ? @frame.truss.height : 0)
    end
    def cubes
      sum = post_cubes + truss_cubes + plate_cubes
      return (sum / (100*100*100)).toFixed(2)
    end
    def post_cubes
      return @frame.posts * @frame.size * @frame.size * @frame.height
    end
    def plate_cubes
      meters = 2 * self.length
      meters += 2 * @frame.width unless @frame.truss.on
      return @frame.size * @frame.size * meters
    end
    def truss_cubes
      return 0 unless @frame.truss.on
      return @frame.posts * @frame.size * @frame.size * (@frame.width * 2)
    end
  end
