.graph_app
  %svg{ ":width": "total_length" , ":height": "total_width",
        ":viewbox": "'0 0 ' + total_width + ' ' + total_length" , class:  :index_graph}
    %g.frame{ ":transform": "`translate(${padd},0)`"}
      %rect.frame{ ":width": "length" , ":height": "width"}
      %rect.post{ ":width": "frame.size" , ":height": "frame.size" }
      %rect.post{ ":width": "frame.size" , ":height": "frame.size",
                  ":transform": "`translate(0,${width - frame.size})`"}
    %line.slider{ ":x1": "padd" ,":y1": "total_width - 10" ,
                  ":x2": "total_length / 3" , ":y2": "total_width - 10" }
    %line.slider{ ":x1": "2*length / 3" ,":y1": "total_width - 10" ,
                  ":x2": "total_length " , ":y2": "total_width - 10" }
    %text{":x": "(total_length -padd) / 2 - padd" , ":y": "total_width " }
      %tspan Length
      %tspan {{ length_slider.x.toFixed(0) - padd}}
      %tspan cm
    %draggable{ ":model": "length_slider" , constrainy: 1}
      %circle{ "r": 10 }

    %line.slider{ x1: 2 ,y1: 0 , x2: 2 , ":y2": "width/3" ,
                  "stroke": "rgb(0,0,0)" , "stroke-width": 3}
    %line.slider{ x1: 2 ,":y1": "2*width/3" , x2: 2 , ":y2": "width" ,
                  "stroke": "rgb(0,0,0)" , "stroke-width": 3}
    %text{x: 0 , ":y": "(width - padd ) / 2" }
      %tspan Width
      %tspan{x: 0, dy: 15} {{ width_slider.y.toFixed(0) }}
      %tspan{x: 0, dy: 15} cm
    %draggable{ ":model": "width_slider" , constrainx: 1}
      %circle{ "r": 10 }


:ruby2js
  class Graph < Vue
    el ".graph_app"
    def initialize
      no = 3
      @padd = 30
      @frame = {trusses: true , posts: false , size: 15}
      @width = 300
      @length = 3*300
      @width_slider = {x: 0 , y: @width}
      @length_slider = {x: @length + @padd, y: @width + @padd / 2}
    end

    def total_width
      return @width + @padd
    end
    def total_length
      return @length + @padd
    end
    def line
     return [ [@start,@start] ,
              [@end,@start] ,
              [@end,@end] ,
              [@start,@end],
              [@start, @start]].join(" ")
    end
  end
  gra = Graph
