.topic
  .head
    %h1=t("wood.custom_head")
  .body
    =image_tag "img/tyokalut-muok-matala.jpg"
    %p
      =t("wood.custom_p1")
      %br
      =t("wood.custom_p2")


.topic
  .left-up
    =image_tag "img/wood/poyta.jpg"
    %br
    %p
      =t("wood.table_p1")
      %br
      =t("wood.table_p2")
  .right-down
    =image_tag "img/wood/kaappi.jpg"
    %br
    %br
    %br

    =image_tag "img/wood/kaappi2.jpg"
    %br
    %br
    %br
    %br
