.section.section1
  .text-page-top.img75
    %h1 TILAUSTYÖT

    =image_tag "img/tyokalut-muok-matala.jpg"


    %p
      Valmistamme tilaustyönä pöytäryhmiä, ovia, kaapistoja, portaita ja muita puusepäntöitä.
      %br
      Hyvin varustetulla verstaallamme pystymme tekemään kalusteita niin sisä- kuin ulkokäyttöön.

  .text-page
    .left-1
      &nbsp;

    .left-6
      =image_tag "img/wood/poyta.jpg"
      %br
      %p
        Käytämme materiaalina massiivipuuta,
        %br
        jotta tuloksena olisi kaunis, kestävä ja laadukas tuote.
      =image_tag "img/wood/piirust.jpg"
    .left-5
      =image_tag "img/wood/kaappi.jpg"
      %br
      %br
      %br

      =image_tag "img/wood/kaappi2.jpg"
      %br
      %br
      %br
      %br
