.section.section1
  .text-page-top.img75
    %h1=t("wood.custom_head")

    =image_tag "img/tyokalut-muok-matala.jpg"


    %p
      =t("wood.custom_p1")
      %br
      =t("wood.custom_p2")

  .text-page
    .left-1
      &nbsp;

    .left-6
      =image_tag "img/wood/poyta.jpg"
      %br
      %p
        =t("wood.table_p1")
        %br
        =t("wood.table_p2")
      =image_tag "img/wood/piirust.jpg"
    .left-5
      =image_tag "img/wood/kaappi.jpg"
      %br
      %br
      %br

      =image_tag "img/wood/kaappi2.jpg"
      %br
      %br
      %br
      %br
