
.graph_app
  .post_control
    %range-slider{"v-model":"frame.angle" , ":min":"10", ":max":"50" }
      %b Truss Angle {{frame.angle}}&deg; (Heigth: {{Math.floor(truss_height)}}cm)
    %range-slider{"v-model":"frame.height" , ":min":"100", ":max":"350" }
      %b Post Height {{frame.height}}
    %range-slider{"v-model":"frame.width" ,":min":"100", ":max":"660"}
      %b Width {{frame.width}}
    %range-slider{"v-model":"frame.spacing" , ":min":"100", ":max":"660"}
      %b Length {{length}} (Spacing: {{frame.spacing}})
    %range-slider{"v-bind:value":"posts" , "v-on:input":"set_posts($event)",
                  ":min":"2", ":max":"11"}
      %b Posts {{posts}}
    %range-slider{"v-model":"frame.size" ,":min":"4", ":max":"11"}
      %b Size {{frame.size}}in ({{(frame.size).toFixed(0)}}cm)
    %range-slider{"v-model":"scale", ":min":30, ":max":150}
      %span
        Scale
        %b {{scale}}
    .rangeslider
      %span
        %b Braces
        %input{type:"checkbox", "v-model":"braces"}
      %br
      %span
        %select{"v-model":"truss"}
          %option{ value:"none"} No Truss
          %option{ value:"harja", selected:"selected"} Harja
      %span
        Joints
        %b {{joins}}
      %br
      %span
        Cubic meters
        %b {{cubes}}
      %br
      %span
        Price Estimate
        %b {{estimate}}
.canvas_wrapper{style: "height: 500px; width: 100%;"}
  %canvas#xeocanvas{style: "height: 100%; width: 100%;"}

= javascript_include_tag 'application'
