/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 *= require_self
 */

@import "susy"

$susy: layout(12 1/2 fluid float split center)

@import "index"
@import "graph"
@import "page"
@import "header"

html
  height: 100%
  overflow: hidden

body
  margin: 0
  padding: 0
  height: 100%
  overflow-y: scroll
  overflow-x: hidden
  font-family: 'Nunito Sans', sans-serif
  perspective: 1px

.footer
  background-image: image-url("index/work_1800.jpg")
  background-size: 125%
  text-align: center
  color: #000
  border-top: 10px solid #602407
  padding-bottom: 40px
  min-height: 500px
  padding-top:   10%
  padding-left:  10%
  padding-right: 10%

  img
    clear: both
  .logo , .links
    p
      font-size: 1.3rem
  a
    text-decoration: none
    color: #000
  @media only screen and (max-width: 1281px)
    background-image: image-url("index/work_1280.jpg")

  @media only screen and (max-width: 801px)
    background-image: image-url("index/work_800.jpg")

  @media only screen and (max-width: 880px)
    min-height: 900px


  .footer-div
    border-right: 4px dotted #fff

  .footer-links
    img
      width: 30px

  .footer-box
    height: 400px
    border-radius: 3px
    background: rgba(255, 255, 255, 0.8)
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)

  .footer-left
    @include span(6)
    @media only screen and (max-width: 880px)
      @include span(12)
  .footer-right
    @include span(6)
    @media only screen and (max-width: 880px)
      @include span(12)
      margin-top: 30px

.white
  color: #fff

.left-1
  @include span(1)

.left-2
  @include span(2)

.left-3
  @include span(3)

.left-4
  @include span(4)

.left-5
  @include span(5)

.left-6
  @include span(6)

.left-7
  @include span(7)

.left-8
  @include span(8)

.left-9
  @include span(9)

.left-10
  @include span(10)

.left-11
  @include span(11)

.right-1
  @include span(1 last)

.right-2
  @include span(2 last)

.right-3
  @include span(3 last)

.right-4
  @include span(4 last)

.right-6
  @include span(6 last)

.text-left
  text-align: left

.text-right
  text-align: right

.clear-right
  clear: right

.clear-both
  clear: both

.img30 img
  width: 30%

.img45 img
  width: 45%

.img60 img
  width: 60%

.img75 img
  width: 75%

.img85 img
  width: 85%

.img99 img
  width: 99%

.fl-left
  float: left

.fl-right
  float: right

.w30
  width: 30%

.w45
  width: 45%

.w60
  width: 60%

.w75
  width: 75%

.w85
  width: 85%

.t-padding-10
  padding: 0% 10%

.img-center
  display: block
  margin-left: auto
  margin-right: auto



label
  @include span(2)
  color: #000
  text-shadow: none
  text-align: left
  font-size: .9rem
  line-height: 85%
  padding-top: 17px

input[type=text], select, textarea
  @include span(10)
  padding: 12px
  border: 1px solid #ccc
  border-radius: 4px
  box-sizing: border-box
  margin-top: 6px
  margin-bottom: 16px
  resize: vertical

input[type=submit]
  background-color: #55954a
  color: white
  padding: 12px 20px
  border: none
  border-radius: 2px
  cursor: pointer

input[type=submit]:hover
  background-color: #45a049

.form-container
  border-radius: 1px
  background-color: #cfe0e8
  padding: 20px
  margin: 14px 14px
  h2
    margin: 0px 0px 3px

.form-message
  border-radius: 1px
  background-color: #cfe0e8
  padding: 20px
  max-width: 700px
  margin: 20px auto
  box-shadow: 3px 4px 9px #9aa4a8
  h2
    margin: 0px 0px 3px


$button-colour: #55954a
$button-text: #ffffff
$regular-text: #333
$button-tint: fadeout(#000, 90%)


.text-center
  text-align: center

.button
  display: inline-block
  font-weight: bold
  font-size: 1.3rem
  position: relative
  padding: .6em 1.4em
  background: $button-colour
  border: none
  border-radius: 1px
  color: white
  transition: .2s
  margin-top: 4px
  margin-bottom: 23px
  &:before,
  &:after
    position: absolute
    top: 0
    bottom: 0
    right: 0
    padding-top: inherit
    padding-bottom: inherit
    width: 2.8em
    content: "\00a0"
    font-family: 'FontAwesome', sans-serif
    font-size: 1.2em
    text-align: center

    transition: .2s
    transform-origin: 50% 60%

  &:before
    background: $button-tint

  &:hover
    background: darken($button-colour, 10%)

  &:active,
  &:focus
    background: darken($button-colour, 30%)
    outline: none

.arrow
  background: #FE5F55
  &:hover
    background: darken(#FE5F55, 10%)

  &:active,
  &:focus
    background: darken(#FE5F55, 30%)

  &:after
    content: "\F054"

  &:hover:after
    -webkit-animation: bounceright .3s alternate ease infinite
    animation: bounceright .3s alternate ease infinite
