/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 *= require_self
 *= require index
 *= require graph
 *= require page
 */

@import "susy"

$susy: layout(12 1/2 fluid float split center)

html
  height: 100%
  overflow: hidden

body
  margin: 0
  padding: 0
  height: 100%
  overflow-y: scroll
  overflow-x: hidden
  font-family: Oswald
  perspective: 1px
