.canvas_wrapper
  position: relative
  float: left
  width: 84%
  height: 600px
  canvas
    height: 100%
    width: 100%
.graph_app
  height: 600px
  margin-top: 20px
  margin-bottom: 30px
  &::after
    clear: both
  .up
    position: absolute
    top: 0
    right: 20px
    width: 200px
    z-index: 2
  .main
    width: 100vw
    overflow-y: hidden
    display: none
  .hidden
    display: none
  .front
    position: relative
    display: inline-block
    .child
      position: absolute
      svg
        background-color: white
  .slider
    stroke: rgb(0,0,0)
    stroke-width: 1
  .fine
    stroke: rgb(0,0,0)
    stroke-width: 1
  .center
    text-align: center
  .post_control
    width: 15%
    float: right
    position: relative
    position: relative
    .rangeslider
      width: 100%
      position: relative
      float: left
