.graph_app
  margin-top: 50px
  margin-left: 100px
  margin-bottom: 50px
  display: grid
  grid-gap: 10px
  grid-auto-rows: minmax(100px, auto)

  .main
    grid-row: 3
    grid-column: 1
    width: 100vw
    overflow-y: hidden
    display: none
  .post_control
    grid-row: 1
    grid-column: 1
  .front
    grid-row: 2
    grid-column: 1
    perspective-origin: -100% -50%
    position: relative
    display: inline-block
    .child
      position: absolute
  rect
    stroke: #000000
    stroke-width: 1
    fill: none
  text
    font-size: 16px
    fill: black
    stroke: none
  line , .slider
    stroke: rgb(0,0,0)
    stroke-width: 1
  .fine
    stroke: rgb(0,0,0)
    stroke-width: 1
  circle
    fill: black
  .center
    text-align: center
  .post_control
    width: 100%
    position: relative
    float: left
    &::after
      clear: both
    .rangeslider
      width: 13%
      position: relative
      float: left
