.graph_app
  margin-top: 50px
  margin-left: 100px
  margin-bottom: 50px
  .up
    position: absolute
    top: 0
    right: 20px
    width: 200px
    z-index: 2
  .main
    width: 100vw
    overflow-y: hidden
    display: none
  .post_control
  .hidden
    display: none
  .front
    position: relative
    display: inline-block
    perspective: 2000px
    .child
      position: absolute
      svg
        background-color: white
  polyline
    fill: rgb(230, 145, 60)
    stroke: #000000
    stroke-width: 1
  .slider
    stroke: rgb(0,0,0)
    stroke-width: 1
  .fine
    stroke: rgb(0,0,0)
    stroke-width: 1
  .center
    text-align: center
  .post_control
    width: 100%
    position: relative
    float: left
    &::after
      clear: both
    .rangeslider
      width: 12%
      position: relative
      float: left
