header
  background-image: image-url("header_index_2.jpg")
  background-position: 0px -110px
  @include container(100%)
  font-size: 175%
  color: #fff
  text-shadow: 0px 1px 13px rgba(0,0,0,1), 0px 5px 18px rgba(0,0,0,0.8),
  h1
    text-align: left
    margin: 25px 0px 20px 150px
    @media only screen and (max-width: 680px)
      font-size: 40px
  h4
    text-align: right
    margin: 60px 0px 0px 0px
    @media only screen and (max-width: 1180px)
      font-size: 30px
    @media only screen and (max-width: 1080px)
      font-size: 24px
  .header-logo
    margin-left: 50px
    img
      float: left
      padding-top: 3px
      width: 75%
    a
      color: #ffffff
      text-decoration: none
    @include span(6)
    @media only screen and (max-width: 1150px)
      @include span(7)
    @media only screen and (max-width: 1080px)
      @include span(10)
  .sub-title
    @include span(4)
    @media only screen and (max-width: 1080px)
      display: none
  .right
    min-height: 60px
    @include span(2)
    @media only screen and (max-width: 1150px)
      @include span(1)
    @media only screen and (max-width: 1080px)
      @include span(2)
    .flag
      @include gallery(4)
    .menu
      @include span(12)
    @media only screen and (max-width: 80px)
      @include span(1)
    @media only screen and (max-width: 80px)
      @include span(1)
.flag
  margin-top: 5px
  img
    max-width: 27px
    width: 100%
    box-shadow: 1px 1px 15px white
  a
    text-decoration: none

.menu
  padding-top: 6px

/* -- Dropdown menu start
.dropbtn
  /* background-color: #4CAF50
  background: url("menu.png") no-repeat
  min-height: 40px
  color: white
  padding-left: 16px
  padding-right: 16px
  font-size: 16px
  border: none
  cursor: pointer
  position: relative

.dropdown
  position: relative
  display: inline-block

.dropdown-content
  display: none
  position: absolute
  background-color: #f9f9f9
  min-width: 120px
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  z-index: 1
  border-radius: 3px

.dropdown-content a
  color: black
  padding: 8px 6px
  text-decoration: none
  display: block
  text-shadow: none
  font-size: .6em
  text-align: left
  border-bottom: 1px dotted #d5c6c6
  margin: 0px 6px

.dropdown-content a:hover
  background-color: #f1f1f1

.dropdown:hover .dropdown-content
  display: block

/* -- Dropdown menu end
