.homes , .garden , .wood
  p
    font-size: 1.2em
    line-height: 150%
    color: #333
  .header
    margin-top: -80px
    text-align: center
    font-size: 175%
    color: #fff
    text-shadow: 0 2px 2px #000
    h1
      margin-top: -20px
  .title
    background-image: image-url("header_index.jpg")
    background-attachment: fixed

  .section
    position: relative
    padding: 20% 10%
    min-height: 100%
    width: 100%
    box-sizing: border-box
    box-shadow: 0 10px 1px white, 0 -10px 1px white
    background-position: 50% 50%
    background-size: cover

    .text
      width: 50%
      padding: 10px 50px
      border-radius: 5px
      background: rgba(200, 200, 200, 0.7)
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.8)

  .section1
    .text
      margin: 200px
      margin-left: 200px
      margin-right: 200px
      background-image: image-url("header_homes.jpg")
      transform: translateZ(-1px) scale(2)

  .section2
    .text
      margin-left: 0
      margin-right: auto

  .section3
    .text
      margin-left: auto
      margin-right: 0

  .footer
    text-align: center
    font-size: 175%
    color: #fff
    text-shadow: 0 2px 2px #000

  .section1
    background-color: white

  .section2
    background-image: image-url("header_garden.jpg")
    background-attachment: fixed

  .section3
