.dropdown
  %button.dropbtn
    \ 
  .dropdown-content
    =link_to t("menu.home") , page_path(:index)
    =link_to t("menu.homes") , page_path(:homes)
    =link_to t("menu.frames") , page_path(:frames)
    =link_to t("menu.work") , page_path(:wood)
