.dropdown
  %button.dropbtn
    \ 
  .dropdown-content
    %a{:href => "index"}= t("menu.home")
    %a{:href => "homes"}= t("menu.homes")
    %a{:href => "frames"}= t("menu.frames")
    %a{:href => "wood"}= t("menu.work")
