%header
  .header-logo
    = link_to page_path(:index) do
      =image_tag "Logo-vaaka.png"
  .sub-title
    %h3
      =t("layout.sub_title")
  .menu.text-center
    = render "layouts/flags"

    = render "layouts/dropdown"
