%header
  .header-logo
    = link_to page_path(:index) do
      =image_tag "logo-valk-100b.png"
      %h1= t("layout.title")
  .sub-title
    %h3
      =t("layout.sub_title")
  .menu.text-center
    = render "layouts/flags"

    = render "layouts/dropdown"
