!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EcoFrame
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
  %body{class: params[:id]}
    %header
    = yield
    .section5.section.footer
      .logo
        %h3 ECOFRAMEHOUSE
        %p.white
          Fiskarsintie 847, 10480 Antskog
          %br
          info@ecoframe.house
          \&vert;
          puh 040 730 8052
      .footer-box
        .form.left-6
          .form-container
            %form{:action => "action_page.php"}
              %label{:for => "fname"} Nimi
              %input#fname{:name => "nimi", :placeholder => "Nimesi", :type => "text"}/
              %label{:for => "sposti"} Sähköposti
              %input#email{:email => "lastname", :placeholder => "Sähköpostiosoite", :type => "text"}/
              %label{:for => "puh"} Puhelin
              %input#email{:phone => "phone", :placeholder => "Puhelinnumero", :type => "text"}/
              %label{:for => "viesti"} Viesti
              %textarea#subject{:name => "subject", :placeholder => "Viestikenttä", :style => "height:100px"}
              %input{:type => "submit", :value => "Lähetä"}/
        .map.right-6
          %iframe{:frameborder => "0", :height => "380", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?width=100%&height=380&hl=en&q=Fiskarsintie%20847+(EcoFrameHouse)&ie=UTF8&t=&z=8&iwloc=B&output=embed", :width => "100%"}
