!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EcoFrame
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
  %body{class: params[:id]}
    %header
    = yield
    .section5.section.footer
      .footer-box
        .form.left-4
          .form-container
            %h2 Ota yhteyttä

            %form{:action => "action_page.php"}
              %label{:for => "fname"} Nimi
              %input#fname{:name => "nimi", :placeholder => "Nimesi", :type => "text"}/
              %label{:for => "sposti"}
                Sähkö-
                %br
                posti
              %input#email{:email => "lastname", :placeholder => "Sähköpostiosoite", :type => "text"}/
              %label{:for => "puh"} Puhelin
              %input#email{:phone => "phone", :placeholder => "Puhelinnumero", :type => "text"}/
              %label{:for => "viesti"} Viesti
              %textarea#subject{:name => "subject", :placeholder => "Viestikenttä", :style => "height:70px"}
              %input{:type => "submit", :value => "Lähetä"}/
        .footer-logo.left-4
          %h2 ECOFRAMEHOUSE
          =image_tag "logo-musta-100.png"
          %p
            puh 040 730 8052
            %br
            info@ecoframe.house
            %br
            Fiskarsintie 847
            %br
            10480 Antskog
        .links.left-4.text-left
          %br
          %br
          %br

          %a{:href => "../"}
            =image_tag "nappi.png"
            Etusivu
          %br
          %a{:href => "/homes"}
            =image_tag "nappi.png"
            Kodit
          %br
          %a{:href => "/frames"}
            =image_tag "nappi.png"
            Timberframe
          %br
          %a{:href => "/wood"}
            =image_tag "nappi.png"
            Käsityö
          %br
          %a{:href => "/house"}
            =image_tag "nappi.png"
            Suunnittelu
