!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EcoFrame
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
  %body{class: params[:id]}
    %header
    = yield
    .section4.section.footer
      .logo
        %h3 ECOFRAMEHOUSE
        %p.white
          Fiskarsintie 847, 10480 Antskog
          %br
          info@ecoframe.house
          \&vert;
          tel 040 730 8052
      .footer-box
        .form
          .form-container
            %form{:action => "action_page.php"}
              %label{:for => "fname"} Name
              %input#fname{:name => "firstname", :placeholder => "Your name..", :type => "text"}/
              %label{:for => "email"} Email
              %input#email{:email => "lastname", :placeholder => "Your email address..", :type => "text"}/
              %label{:for => "phone"} Phone
              %input#email{:phone => "phone", :placeholder => "Your phone number..", :type => "text"}/
              %label{:for => "message"} Message
              %textarea#subject{:name => "subject", :placeholder => "Write something..", :style => "height:100px"}
              %input{:type => "submit", :value => "Submit"}/
        .map
          %iframe{:frameborder => "0", :height => "380", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?width=100%&height=380&hl=en&q=Fiskarsintie%20847+(EcoFrameHouse)&ie=UTF8&t=&z=8&iwloc=B&output=embed", :width => "100%"}
