!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EcoFrame
    %script
      window.LiveReloadOptions = { host: 'localhost' , port: '35729', mindelay: 1000000};
    %script{src: "/hotswap.js"}
    %script{src: "/livereload.js"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body{class: params[:id]}
    %header
    = yield
    .section4.section.footer
      .logo
        %h3 ECOFRAMEHOUSE
        %p Fiskarsintie 847, 10480 Antskog
        %p info@ecoframe.house    tel 040 730 8052
      .form
        Form
      .map
        Map
